:root {
  --heading-font-size: 15px;
  --body-font-size: 15px;
  --edge-padding: 8px;

  --in-content-selected-text: #fff;
  --in-content-button-background: var(--grey-90-a10);
  --in-content-button-background-hover: var(--grey-90-a20);
  --in-content-button-background-active: var(--grey-90-a30);
  --in-content-primary-button-background: var(--blue-60);
  --in-content-primary-button-background-hover: var(--blue-70);
  --in-content-primary-button-background-active: var(--blue-80);

  --blue-40: #45a1ff;
  --blue-40-a10: rgb(69, 161, 255, 0.1);
  --blue-50: #0a84ff;
  --blue-50-a30: rgba(10, 132, 255, 0.3);
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-50: #737373;
  --grey-60: #4a4a4f;
  --grey-90: #0c0c0d;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --grey-90-a50: rgba(12, 12, 13, 0.5);
  --grey-90-a60: rgba(12, 12, 13, 0.6);
  --ink-90: #1D1133;
  --black: #0c0c0D;
  --grey-10: #F9F9FA;
  --error: #FFBDC5;

  --link-link: var(--blue-50);
  --link-hover: var(--blue-60);
  --link-active: var(--blue-70);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--grey-10);
  color: var(--black);
  inline-size: 320px;
  font-size: var(--body-font-size);
  line-height: 22px;
  min-block-size: 368px;
  overflow-inline: hidden;
}

body.loading {
  background: url("img/loading-screen.svg") 0 0 no-repeat;
}

body.loading * {
  display: none !important;
}

a:link {
  color: var(--link-link);
  cursor: pointer;
}

a:hover {
  color: var(--link-hover);
}

a:active {
  color: var(--link-active);
}

button {
  -moz-appearance: none;
  min-height: 32px;
  color: inherit !important;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: var(--in-content-button-background);
  font-weight: 400;
  padding: 0 8px;
  text-decoration: none;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  margin-block-start: 4px;
  margin-block-end: 4px;
  font-size: 1em;
}

#content button {
  width: calc(100% - calc(var(--edge-padding) * 2));
  margin: 4px var(--edge-padding);
  text-align: center;
}

button.primary {
  color: var(--in-content-selected-text);
}

button[autofocus],
button.primary {
  background-color: var(--in-content-primary-button-background);
  color: var(--in-content-selected-text) !important;
}

button[autofocus]:enabled:hover,
button.primary:enabled:hover {
  background-color: var(--in-content-primary-button-background-hover);
}

button[autofocus]:enabled:hover:active,
button.primary:enabled:hover:active {
  background-color: var(--in-content-primary-button-background-active);
}

.warning {
  position: relative;
  padding-inline-start: 20px;
}

.warning::before {
  position: absolute;
  inset-block-start: 2px;
  content: "";
  display: inline-block;
  block-size: 16px;
  inline-size: 16px;
  background: url("/img/i-warning16.svg");
  margin-inline-start: -22px;
}

#state,
#content {
  min-block-size: 316px;
  inline-size: -moz-available;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.1);
  margin: 0 var(--edge-padding) var(--edge-padding);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: background-color 250ms ease-in-out;
}

#content {
  padding: calc(2 * var(--edge-padding));
}

#content p {
  padding: var(--edge-padding) 0;
  text-align: center;
}

#content h2 {
  text-align: center;
}

#content .sub {
  font-weight: normal;
  color: var(--grey-90-a60);
  line-height: 17px;
  font-size: 13px;
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#content .subMain {
  min-height: 60px;
  margin-inline-start: var(--edge-padding);
  margin-inline-end: var(--edge-padding);
}

header {
  block-size: 44px;
  margin: 0 var(--edge-padding);
  font-weight: bold;
  display: flex;
  position: relative;
}

header button {
  padding: 8px;
}

#introHeading {
  font-size: var(--heading-font-size);
  line-height: 22px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-weight: 500;
}

#introHeadingLite {
 color: white;
 background: #321c64;
 border-radius: 4px;
 padding: 0 8px;
 font-style: normal;
 font-weight: 600;
 font-size: 11px;
 line-height: 18px;
 text-align: center;
 text-transform: uppercase;
 margin: 1px 0 0 8px;
}

#settingsButton,
#backButton {
  --button-background: transparent;
  box-sizing: content-box;
  block-size: 16px;
  inline-size: 16px;
  min-height: auto;
  align-self: center;
  display: block;
  border: none;
  padding: 4px;
  margin: 0;
  border-radius: 2px;
}

#settingsButton:hover,
#backButton:hover {
  --button-background: var(--grey-20);
}

#settingsButton {
  /* Bug https://github.com/mozilla/secure-proxy/issues/251 */
  background: var(--button-background) url('/img/i-settings32.svg') 50% / 30px no-repeat;
}

#backButton {
  background: var(--button-background) url('/img/arrow-left.svg') 50% / 16px no-repeat;
}

[hidden] {
  display: none !important;
}

/* These should preserve their whitespace when set to hidden */
#settingsButton[hidden],
#backButton[hidden] {
  display: block !important;
  visibility: hidden !important;
}

#onboarding .card {
  display: contents;
}

#content .close-button {
  background: var(--button-background) url("/img/close.svg") 50% / 16px no-repeat;
  background-size: 12px 12px;
  top: var(--edge-padding);
  right: var(--edge-padding);
  --button-background: transparent;
  position: absolute;
  box-sizing: content-box;
  block-size: 16px;
  inline-size: 16px;
  flex: 0 0 16px;
  min-height: auto;
  align-self: center;
  display: block;
  border: none;
  padding: 4px;
  border-radius: 2px;
}

#content .close-button:hover {
  --button-background: var(--grey-20);
}

#state {
  justify-content: center;
}

#stateIcon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

#stateButton {
  width: 60px;
  height: 32px;
  border-radius: 16px;
  display: block;
  position: relative;
  transition: opacity 250ms ease-in-out;
  margin-top: 20px;
}

#stateButton::before {
  background-color: #fff;
  block-size: 24px;
  border-radius: 12px;
  content: "";
  inline-size: 24px;
  left: 4px;
  position: absolute;
  top: 4px;
  transition: transform 125ms ease-in-out;
}

#stateButton::-moz-focus-inner {
  /* Bug https://github.com/mozilla/secure-proxy/issues/257 */
  border: 0;
}

[data-state="connecting"] #stateButton::before,
[data-state="enabled"] #stateButton::before {
  transform: translateX(28px);
}

[data-state="connecting"] #stateButton {
  background: #3fe1b0;
  opacity: 0.5;
}

[data-state="enabled"] #stateButton {
  background: #3fe1b0;
}

[data-state="disabled"] #stateButton {
  background-color: rgba(12, 12, 13, 0.4);
}

[data-state="disabling"] #stateButton {
  background: rgba(12, 12, 13, 0.2);
}

#stateAnimation {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: -141px;
}

#stateContent {
  margin-top: 24px;
  height: 64px;
}

#stateContent h2 {
  color: rgba(12, 12, 13, 0.8);
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 4px;
  text-align: center;
}

#stateContent h3 {
  color: rgba(12, 12, 13, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  text-align: center;
}

#stateContent h2,
#stateContent h3 {
  transition: color 125ms;
}

[data-state="enabled"] #stateContent h2 {
  color: white;
}

[data-state="enabled"] #stateContent h3 {
  color: rgba(255, 255, 255, 0.8);
}

[data-state="hidden"]#state {
  display: none;
}

[data-state="enabled"]#state {
  background-color: #321c64;
  color: #fff;
}

#settingsLink {
  font-weight: 500;
}

.settingsMenu {
  padding: 0;
  width: -moz-available;
}

footer,
.settingsMenu a,
.settingsMenu span {
  display: flex;
  width: 100%;
  color: black;
  text-decoration: none;
  padding-block-start: 13px;
  padding-block-end: 13px;
  padding-inline-start: calc(2 * var(--edge-padding));
  padding-inline-end: calc(2 * var(--edge-padding));
  list-style: none;
}

.settingsMenu span {
  padding-block-start: 4px;
  padding-block-end: 4px;
  padding-inline-start: var(--edge-padding);
  padding-inline-end: var(--edge-padding);
}

.settingsMenu .sub {
  padding-block-start: 0px;
}

.settingsMenu a:hover {
  background: var(--grey-20);
}

.settingsMenu img {
  border-radius: 200%;
  align-self: center;
  block-size: 32px;
  inline-size: 32px;
}

.settingsMenu strong {
  padding-inline-start: var(--edge-padding);
}

.settingsMenu .manage {
  padding-block-start: 6px;
  padding-block-end: 8px;
}

.settingsMenu #manageAccount {
  block-size: 50px;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: var(--edge-padding);
  padding-inline-end: 8px;
}

.settingsMenu .details {
  display: flex;
  flex-direction: column;
  align-self: center;
  line-height: 20px;
  font-size: 15px;
}

.settingsMenu strong {
  padding-inline-start: var(--edge-padding);
}

.settingsMenu ul {
  width: 100%;
}

.settingsMenu > li {
  border-block-end: 1px solid #e4e4e4;
  padding-block-start: 9px;
  padding-block-end: 9px;
}

.settingsMenu li {
  display: flex;
  list-style: none;
}

.settingsMenu #email {
  max-inline-size: 270px;
  inline-size: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extraSub {
  padding-block-end: 8px !important;
}

.end {
  margin-inline-start: auto;
}

.linkRow {
  padding: 10px var(--edge-padding);
  border-block-start: 1px solid #e4e4e4;
  display: flex;
}

.content-icon {
  min-height: 80px;
  width: 80px;
  background-size: 80px 80px;
  margin-bottom: 24px;
  flex: 1;
}

#content[data-name=loading ]{
  display: flex;
  justify-content: center;
  background-color: #321c64;
  color: rgba(255, 255, 255, 0.8);
}

#content[data-name=settings] {
 margin: 0;
 padding: 0;
 align-items: start;
 background: none;
 box-shadow: none;
}

.login-icon,
.loading-icon {
  background: url("/img/icon.svg") center center no-repeat;
  background-size: contain;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.loading-icon {
  animation: fade alternate-reverse 2000ms ease-in-out infinite;
}

#poweredBy {
  white-space:pre;
}

#cloudflare {
  color: var(--link-link);
}

#cloudflare:link {
  text-decoration: none;
}

#cloudflare:visited {
  color: var(--link-link);
}

#settingsLink {
  color: var(--link-link);
}

#settingsLink:link {
  text-decoration: none;
}

#settingsLink:visited {
  color: var(--link-link);
}

.link {
  cursor: pointer;
}

#popupBeta {
  flex: max-content;
}

.popupBetaLink {
  font-weight: bold;
  text-decoration: none;
}

#proxyError,
#content p[data-mode="warning"] {
  background-color: var(--error);
  border-radius: 4px;
  margin: 0 var(--edge-padding) var(--edge-padding);
  padding: var(--edge-padding);
  padding-inline-start: 32px;
  position: relative;
  display: flex;
}

#proxyError::before,
#content p[data-mode="warning"]::before {
  position: absolute;
  content: "";
  display: inline-block;
  block-size: 16px;
  inline-size: 16px;
  background: url("/img/i-warning16.svg");
  margin-inline-start: -22px;
  inset-block-start: calc(1.4 * var(--edge-padding));
}
