@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  src:
    url("fonts/Inter-UI-Regular.woff2") format("woff2"),
    url("fonts/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 600;
  src:
    url("fonts/Inter-UI-SemiBold.woff2") format("woff2"),
    url("fonts/Inter-UI-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Metropolis-Medium.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}

html,
body {
  --rowWidth: 90%;
  --rowPadding: var(--padding);
  --maxCenteredContentWidth: 600px;
  --logoWidth: 46%;
  --padding: 2rem;
  --sectionPadding: calc(var(--padding) * 2) var(--padding);
  --cardIconWidth: 2rem;
  --twoUpFlex: 0 1 calc(50% - calc(var(--padding) / 2));
  --howToStepsFlex: 0 1 50%;
  --mainHeadlineFontSize: 3.25rem;
  --mainSubheadFontSize: 1.35rem;
  --documentHeadlineFontSize: 2.3rem;
  --sectionHeadlineFontSize: 2.25rem;
  --calloutHeadlineSize: 1.5rem;
  --borderRadius: 0.4rem;
  --borderRadiusLarge: 1.5rem;
  --lightBlue: rgba(0, 144, 237, 1);
  --blue03: #0060df;
  --blue04: #0250bb;
  --blue05: #073072;
  --violet05: #592acb;
  --purple05: #722291;
  --lightPurple: #f9f7fd;
  --darkPurple: #2b1141;
  --darkBlue: #332869;
  --darkGrey: #42425a;
  --bluePurpleGradient: linear-gradient(220deg, var(--blue04) 0%, var(--violet05) 55%, var(--purple05) 100%);
  --ink: rgba(32, 18, 58, 1);
  --inkLight: rgba(227, 225, 230, 1);
  --lightGrey: rgba(249, 249, 249, 1);
  --transparentGrey: rgba(24, 24, 24, 0.75);
  --background-color: #09224a;
  --white: #fff;
  --white-80: rgba(255, 255, 255, .8);
  --nav-browser-gradient: radial-gradient(
    100% 100% at 100% 0%,
    #0060df 0%,
    #3fe1b0 100%
  );

  margin: 0;
  padding: 0;
  color: var(--white);
  scroll-behavior: smooth;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
}

.header-bg {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  padding: 16px 64px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

h1 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: var(--nav-browser-gradient);
  background-clip: text;
  font-size: var(--mainHeadlineFontSize);
  line-height: 1.1;
  margin: auto;
  word-break: keep-all;
}

.document-header {
  align-items: center;
  display: flex;
  flex-direction:column;
  text-align: center;
}

.document-header p {
  max-width: 640px;
}

main {
  min-height: 44vh;
}

h1,
.main-subhead {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.logo {
  background-image: url("img/fpn-logo.svg");
  background-repeat: no-repeat;
  background-size: 286px;
  background-size: auto;
  display: inline-block;
  height: 48px;
  padding-left: 38px;
  width: 286px;
}

.section {
  padding: var(--sectionPadding);
}

.document {
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 7.5rem auto 0;
}

.document-content {
  margin: 1rem auto 0;
  max-width: 640px;
  width: 72%;
}

.document-figure {
  margin: 1rem 2rem;
  overflow: hidden;
  background: var(--blue05);
  max-width: 640px;
}

.document-figure img {
  height: auto;
  margin: 1rem 0 -1rem -1rem;
  width: 100%;
}

.document-headline {
  font-size: var(--documentHeadlineFontSize);
  margin: 0 0 2rem;
  max-width: 500px;
}

.document-subhead {
  font-size: var(--mainSubheadFontSize);
  font-weight: 700;
  margin: 2.5rem auto 0 auto;
}

.document p,
.document li {
  color: var(--white-80);
  font-size: 0.97rem;
  line-height: 2;
  opacity: 0.9;
}

.document p.large {
  font-size: 24px;
  line-height: 32px;
  margin-top: 12px;
}

.document a {
  color: var(--white);
}

.row {
  margin: auto;
  max-width: 1200px;
  padding: var(--rowPadding);
  width: var(--rowWidth);
}

.h-padding {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.v-padding {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.flx {
  display: flex;
}

.flx-row {
  flex-direction: row;
}

.spc-btwn {
  justify-content: space-between;
}

.al-cntr {
  align-items: center;
}

.ff-Met {
  font-family: "Metropolis", -apple-system, sans-serif;
}

.border-radius-large {
  border-radius: var(--borderRadiusLarge);
}

.drop-shadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.07);
}

.bg-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.settings-icon {
  background-image: url("img/settings.svg");
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.inline-icon {
  display: inline-block;
  position: relative;
  top: 3px;
}

.Mozilla {
  background-image: url("img/Mozilla.svg");
  width: 8rem;
  height: 2.5rem;
}

footer {
  background-color: var(--background-color);
}

.blue-link,
.footer-link {
  border-radius: 2px;
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s ease;
}

.footer-link {
  font-size: 14px;
  margin-left: 1.5rem;
}

.blue-link:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1100px) {
  body {
    --howToStepsFlex: 1 1;
    --sectionPadding: var(--padding);
  }

  .document.section {
    padding: calc(var(--padding) * 2) calc(var(--padding) * 0.5);
  }

  .section-headline.max-centered-width {
    max-width: 600px;
  }
}

@media screen and (max-width: 900px) {
  body {
    --logoWidth: 70%;
    --twoUpFlex: 1 1 100%;
    --mainHeadlineFontSize: 2.5rem;
    --mainSubheadFontSize: 1.1rem;
    --documentHeadlineFontSize: 2rem;

    font-size: 15px;
  }

  .document-content {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  body {
    --calloutHeadlineSize: 1.3rem;
    --sectionHeadlineFontSize: 2rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    --padding: 1.5rem;
  }

  .card {
    --cardPadding: 0 0 var(--padding) 0;
    --iconWidth: 1.75rem;
  }

  h1,
  .main-subhead,
  main .mobile-or-outside-usa-message {
    text-align: left;
  }

  .header-bg {
    padding: 16px 32px;
  }

  .logo {
    background-size: 238px;
    height: 40px;
    width: 238px;
  }

  .icon-headline-wrap {
    flex-direction: column;
  }

  footer,
  .footer-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .Mozilla,
  .footer-link {
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 500px) {
  body {
    --mainHeadlineFontSize: 2rem;
    --sectionHeadlineFontSize: 1.5rem;
    --rowWidth: 100%;
  }
}

@media screen and (max-width: 400px) {
  body {
    --rowPadding: var(--padding) 0;
  }

  .how-to-wrapper {
    padding-top: 0;
  }
}

span .menu , span .button, li em, .wiki-image {
    background: #e8e8e8;
    color: #303030;
    padding: 2px 4px;
    font-style: normal;
}
.wiki-image {
    border: 2px solid #e8e8e8;
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: middle;
}

#instruction {
  background: #f4f1fa;
  border-color: #f4f1fa;
  border-style: solid;
  border-width: 1px 28px;
  border-radius: 28px;
  color: var(--ink);
  margin-top: 1rem;
}

#instruction p {
  color: var(--ink);
}


