@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  src:
    url("/fonts/Inter/Inter-UI-Regular.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 600;
  src:
    url("/fonts/Inter/Inter-UI-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Metropolis/Metropolis-Medium.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}

html,
body {
  --rowWidth: 90%;
  --rowPadding: var(--padding);
  --maxCenteredContentWidth: 600px;
  --logoWidth: 46%;
  --padding: 2rem;
  --sectionPadding: calc(var(--padding) * 2) var(--padding);
  --cardIconWidth: 2rem;
  --twoUpFlex: 0 1 calc(50% - calc(var(--padding) / 2));
  --howToStepsFlex: 0 1 50%;
  --mainHeadlineFontSize: 3.25rem;
  --mainSubheadFontSize: 1.35rem;
  --documentHeadlineFontSize: 2.3rem;
  --sectionHeadlineFontSize: 2.25rem;
  --calloutHeadlineSize: 1.5rem;
  --borderRadius: 0.4rem;
  --borderRadiusLarge: 1.5rem;
  --lightBlue: rgba(0, 144, 237, 1);
  --blue03: #0060df;
  --blue04: #0250bb;
  --blue05: #073072;
  --violet05: #592acb;
  --purple05: #722291;
  --lightPurple: #f9f7fd;
  --darkPurple: #2b1141;
  --darkBlue: #332869;
  --darkGrey: #42425a;
  --bluePurpleGradient: linear-gradient(220deg, var(--blue04) 0%, var(--violet05) 55%, var(--purple05) 100%);
  --ink: rgba(32, 18, 58, 1);
  --inkLight: rgba(227, 225, 230, 1);
  --lightGrey: rgba(249, 249, 249, 1);
  --transparentGrey: rgba(24, 24, 24, 0.75);

  margin: 0;
  padding: 0;
  color: var(--ink);
  scroll-behavior: smooth;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hero-bg,
.header-bg {
  background-color: var(--lightGrey);
  background-image: url("/img/proxy-shapes-top-right-rings.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-bg {
  padding-top: 8rem;
}

.header-bg {
  background-position: center 80%;
  box-shadow: 2px 2px 10px var(--transparentGrey);
}

h1 {
  font-size: var(--mainHeadlineFontSize);
  line-height: 1.1;
  word-break: keep-all;
  margin: auto;
}

main {
  min-height: 44vh;
}

h1,
.main-subhead {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  background-image: url("/img/fpn-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 2.5rem;
  min-height: 2.75rem;
}

.logotype {
  background-image: url("/img/fx-pn-logotype.svg");
  background-repeat: no-repeat;
  content: "";
  max-width: 500px;
  width: var(--logoWidth);
  display: inline-block;
  background-position: left center;
}

.section {
  padding: var(--sectionPadding);
}

.document {
  background-color: var(--lightPurple);
  margin: 0 auto;
  padding: 7.5rem auto 0;
}

.document-content {
  margin: 7.5rem auto 0;
  max-width: 640px;
  width: 72%;
}

.document-figure {
  margin: 2rem 0;
  overflow: hidden;
}

.document-figure img {
  height: auto;
  margin: 1rem 0 -1rem -1rem;
  width: 100%;
}

.document-headline {
  font-size: var(--documentHeadlineFontSize);
  margin: 0 0 2rem;
  max-width: 500px;
}

.document-subhead {
  font-size: var(--mainSubheadFontSize);
  font-weight: 700;
  margin: 2.5rem auto 0 auto;
}

.document p {
  color: var(--darkGrey);
  font-size: 0.97rem;
  line-height: 2;
  opacity: 0.9;
}

.row {
  max-width: 1200px;
  width: var(--rowWidth);
  padding: var(--rowPadding);
  margin: auto;
}

.h-padding {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.v-padding {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.flx {
  display: flex;
}

.flx-row {
  flex-direction: row;
}

.spc-btwn {
  justify-content: space-between;
}

.al-cntr {
  align-items: center;
}

.ff-Met {
  font-family: "Metropolis", -apple-system, sans-serif;
}

.border-radius-large {
  border-radius: var(--borderRadiusLarge);
}

.drop-shadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.07);
}

.bg-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bg-white {
  background: rgba(255, 255, 255, 1);
}

.bg-dark {
  background: var(--ink);
}

.settings-icon {
  background-image: url("/img/settings.svg");
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
}

.inline-icon {
  display: inline-block;
  position: relative;
  top: 3px;
}

.Mozilla {
  background-image: url("/img/Mozilla.svg");
  width: 8rem;
  height: 2.5rem;
}

.blue-link,
.footer-link {
  border-radius: 2px;
  text-decoration: none;
  color: var(--blue03);
  transition: all 0.3s ease;
}

.footer-link {
  font-size: 14px;
  margin-left: 1.5rem;
}

.blue-link:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1100px) {
  body {
    --howToStepsFlex: 1 1;
    --sectionPadding: var(--padding);
  }

  .document.section {
    padding: calc(var(--padding) * 2) calc(var(--padding) * 0.5);
  }

  .section-headline.max-centered-width {
    max-width: 600px;
  }
}

@media screen and (max-width: 900px) {
  body {
    --logoWidth: 70%;
    --twoUpFlex: 1 1 100%;
    --mainHeadlineFontSize: 2.5rem;
    --mainSubheadFontSize: 1.1rem;
    --documentHeadlineFontSize: 2rem;

    font-size: 15px;
  }

  .document-content {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  body {
    --calloutHeadlineSize: 1.3rem;
    --sectionHeadlineFontSize: 2rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    --padding: 1.5rem;
  }

  .card {
    --cardPadding: 0 0 var(--padding) 0;
    --iconWidth: 1.75rem;
  }

  h1,
  .main-subhead,
  main .mobile-or-outside-usa-message {
    text-align: left;
  }

  .icon-headline-wrap {
    flex-direction: column;
  }

  .logotype {
    background-image: url("/img/fpn-logotype-stacked.svg");
    margin-left: 0.5rem;
  }

  footer,
  .footer-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .Mozilla,
  .footer-link {
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 500px) {
  body {
    --mainHeadlineFontSize: 2rem;
    --sectionHeadlineFontSize: 1.5rem;
    --rowWidth: 100%;
  }
}

@media screen and (max-width: 400px) {
  body {
    --rowPadding: var(--padding) 0;
  }

  .how-to-wrapper {
    padding-top: 0;
  }

  .hero-bg {
    padding-top: 6rem;
    background-position: top;
  }
}
