#injectedModal {
  --in-content-selected-text: #fff;

  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-50: #737373;
  --grey-60: #4a4a4f;
  --grey-90: #0c0c0d;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --grey-90-a50: rgba(12, 12, 13, 0.5);
  --grey-90-a60: rgba(12, 12, 13, 0.6);
  --ink-90: #1D1133;
  --black: #0c0c0D;
  --grey-10: #F9F9FA;

  all: initial;
  background: var(--grey-90-a30);
  display: grid;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  z-index: 20000;
  line-height: 28px;

  --font-metro: "Metropolis", -apple-system, sans-serif;
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 400;
  src:
    url("/fonts/Inter/Inter-UI-Regular.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-weight: 600;
  src:
    url("/fonts/Inter/Inter-UI-SemiBold.woff2") format("woff2"),
    url("/fonts/Inter/Inter-UI-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Metropolis/Metropolis-Medium.woff2") format("woff2");
}

#injectedModal .content {
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
  padding-block-start: 20px;
  padding-block-end: 64px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  max-inline-size: 600px;
  min-inline-size: 280px;

  border-radius: 8px;
  background: #fff;
  font-size: 18px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
/*
  font-family: "Metropolis", -apple-system, sans-serif;
*/
}

#injectedModal .content p {
  margin: 0px;
  margin-block-end: 24px;
}

#injectedModal header {
  display: flex;
}

#injectedModal h1 {
  background: url("img/landscape-modal-logo.svg") 50% 0 no-repeat;
  text-indent: -9999px;
  align-self: center;
  flex: 1;

  max-inline-size: 650px;
  max-block-size: 52px;

  min-inline-size: 60%;
  min-block-size: 35px;

  margin-block-end: 26px;
}

#injectedModal button {
  font-family: var(--font-metro);
  font-size: 18px;
  -moz-appearance: none;
  color: inherit !important;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: var(--in-content-button-background);
  font-weight: bold;
  padding: 14px;
  text-decoration: none;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  margin-block-start: 4px;
  margin-block-end: 4px;
  transition: all 0.15s ease;
  --in-content-button-background: var(--grey-90-a10);
}

#injectedModal button:hover {
  --in-content-button-background: var(--grey-90-a20);
}

#injectedModal button:active {
  --in-content-button-background: var(--grey-90-a30);
}

#injectedModal #close {
  align-self: inline-end;
  inline-size: 24px;
  block-size: 24px;
  padding: 4px;
  margin: 0;
  margin-inline-start: auto;
  border-radius: 200%;
  background: var(--in-content-button-background) url(img/close.svg) 50% no-repeat;
}

#injectedModal footer {
  display: flex;
  flex-direction: row;
  max-inline-size: 360px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
