:root {
  --base-font-size: 10px;
  --heading-font-size: 14px;
  --footer-font-size: 12px;
  --body-font-size: 14px;
  --edge-padding: 12px;

  --in-content-selected-text: #fff;
  --in-content-button-background: var(--grey-90-a10);
  --in-content-button-background-hover: var(--grey-90-a20);
  --in-content-button-background-active: var(--grey-90-a30);
  --in-content-primary-button-background: var(--blue-60);
  --in-content-primary-button-background-hover: var(--blue-70);
  --in-content-primary-button-background-active: var(--blue-80);

  --blue-40: #45a1ff;
  --blue-40-a10: rgb(69, 161, 255, 0.1);
  --blue-50: #0a84ff;
  --blue-50-a30: rgba(10, 132, 255, 0.3);
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --grey-20: #ededf0;
  --grey-30: #d7d7db;
  --grey-40: #b1b1b3;
  --grey-50: #737373;
  --grey-60: #4a4a4f;
  --grey-90: #0c0c0d;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a20: rgba(12, 12, 13, 0.2);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
  --grey-90-a50: rgba(12, 12, 13, 0.5);
  --grey-90-a60: rgba(12, 12, 13, 0.6);
  --ink-90: #1D1133;
  --black: #0c0c0D;
  --grey-10: #F9F9FA;

  --link-link: var(--blue-50);
  --link-hover: var(--blue-60);
  --link-active: var(--blue-70);
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--black);
  inline-size: 320px;
  font-size: var(--body-font-size);
  line-height: 22px;
  min-block-size: 450px;
}

a:link {
  color: var(--link-link);
  cursor: pointer;
}

a:hover {
  color: var(--link-hover);
}

a:active {
  color: var(--link-active);
}

button {
  -moz-appearance: none;
  min-height: 32px;
  color: inherit !important;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--in-content-button-background);
  font-weight: 400;
  padding: 0 8px;
  text-decoration: none;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  margin-block-start: 4px;
  margin-block-end: 4px;
  font-size: 1em;
}

#content button {
  width: calc(100% - calc(var(--edge-padding) * 2));
  margin: 4px var(--edge-padding);
  text-align: center;
}

button.primary {
  color: var(--in-content-selected-text);
}

button[autofocus],
button.primary {
  background-color: var(--in-content-primary-button-background);
  color: var(--in-content-selected-text) !important;
}

button[autofocus]:enabled:hover,
button.primary:enabled:hover {
  background-color: var(--in-content-primary-button-background-hover);
}

button[autofocus]:enabled:hover:active,
button.primary:enabled:hover:active {
  background-color: var(--in-content-primary-button-background-active);
}

#content {
  inline-size: 320px;
  flex: 1;
}

#content p {
  inline-size: 296px;
  margin: var(--edge-padding);
}

header {
  block-size: 35px;
  font-weight: bold;
  display: flex;
  padding-inline-end: 2px;
  padding-inline-start: 2px;
  position: relative;
  border-block-end: 1px solid #e6e6e6;
}

header button {
  padding: 8px;
}

#introHeading {
  font-size: var(--heading-font-size);
  line-height: 22px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
}

#settingsButton,
#backButton {
  block-size: 16px;
  inline-size: 16px;
  min-height: auto;
  align-self: center;
  display: block;
  border: none;
}

#settingsButton {
  background: url('/img/i-settings32.svg') -7px -7px / 30px; /* TODO get cropped SVG to remove this cropping */
}

#backButton {
  background: url('/img/arrow-left.svg');
}

[hidden] {
  display: none !important;
}

#stateButton {
  block-size: 81px;
  inline-size: 81px;
  border-radius: 100%;
  font-size: 20px;
  background-color: #fff;
  display: inline;
  margin: auto auto;
  border: 1px solid limegreen; /* TODO get real color */
  text-align: center;
  font-weight: bold;
}

#stateButton::-moz-focus-inner {
  border: 0; /* TODO make this look better */
}

[data-state="disabled"] #stateButton,
[data-state="connecting"] #stateButton,
[data-state="enabled"] #stateButton {
  border: 0 none;
}

[data-state="connecting"] #stateButton,
[data-state="login"] #stateButton {
  background: transparent;
  border: 0 none;
}

[data-state="disabled"] #stateButton {
  background-color: #bbb8c2;
  font-size: 25px;
}

#state {
  background: var(--ink-90) url('img/background-loading.png') 0 0 / cover;
  block-size: 200px;
  display: flex;
}

[data-state="hidden"]#state {
  display: none;
}

[data-state="login"]#state {
  background: url('img/hero-account.svg') -2px -1px / cover,
              var(--ink-90) url('img/background-off.png') 0 0 / cover;
}

[data-state="disabled"]#state {
  background: var(--ink-90) url('img/background-off.png') 0 0 / cover;
  color: #291d4f;
}

[data-state="connecting"]#state {
  background: url('img/hero-connecting.svg') -2px -1px / cover,
              var(--ink-90) url('img/background-loading.png') 0 0 / cover;
}

[data-state="enabled"]#state {
  background: url('img/hero-on.svg') -2px -1px / cover,
              var(--ink-90) url('img/background-on.png') 0 0 / cover;
}

.settingsLinks {
  padding: 0;
}

.settingsLinks li {
  list-style: none;
  padding: 10px var(--edge-padding);
  border-block-end: 1px solid #e4e4e4;
  display: flex;
}

.end {
  margin-inline-start: auto;
}

footer {
  font-size: var(--footer-font-size);
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  padding-block-start: 14px;
  padding-block-end: 14px;
  border-block-start: 1px solid #e4e4e4;
  background: #f9f9fb;
  display: flex;
}

.linkRow {
  padding: 10px var(--edge-padding);
  border-block-start: 1px solid #e4e4e4;
  display: flex;
}

#toggleRow {
  padding: 10px var(--edge-padding);
  border-block-start: 1px solid #e4e4e4;
  border-block-end: 1px solid #e4e4e4;
  display: flex;
}

#toggleButton {
  margin-inline-start: auto;
  align-self: center;

  --x-pos: .15em;
  -moz-appearance: none;
  background-color: var(--grey-20);
  cursor: pointer;
  font-size: 16px;
  inline-size: 2em;
  block-size: 1em;
  border-radius: 1em;
  border: 1px solid transparent;
  box-sizing: content-box;
  transition: background-color .1s ease-out;
}

#toggleButton:checked {
  --x-pos: 1.15em;
  background-color: var(--blue-50);
}

#toggleButton::before {
  position: relative;
  inline-size: calc(1em - .3em);
  block-size: calc(1em - .3em);
  transform: translateY(.15em) translateX(var(--x-pos));
  border-radius: 100%;
  display: block;
  content: "";
  background-color: var(--grey-50);
  transition: transform .1s ease-out;
}

#toggleButton:checked::before {
  background-color: white;
}
